<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionAntiSpam"
        tools:targetApi="31">
        <activity
            android:name=".ListaPermisos"
            android:exported="true" />
        <activity
            android:name=".LlamadaGenerales"
            android:exported="true" />
        <activity
            android:name=".CopiaSeguridad"
            android:exported="true" />
        <activity
            android:name=".Crearperfilfacebook"
            android:exported="true" />
        <activity
            android:name=".Crearperfilgoogle"
            android:exported="true" />
        <activity
            android:name=".NumeroConfidencial"
            android:exported="true" />
        <activity
            android:name=".PermisosInnesesarios"
            android:exported="true" />
        <activity
            android:name=".AsesoramientoBlock"
            android:exported="true" />
        <activity
            android:name=".ComoUsoDatos"
            android:exported="true" />
        <activity
            android:name=".UsodeDatos"
            android:exported="true" />
        <activity
            android:name=".Comenzar"
            android:exported="true" />
        <activity
            android:name=".SplashBienvenida"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Crearperfilmanualmente"
            android:exported="true" />
        <activity
            android:name=".crearperfil"
            android:exported="true" />
        <activity
            android:name=".numeroverificado"
            android:exported="true" />
        <activity
            android:name=".PedirNumero"
            android:exported="true" />
        <activity
            android:name=".confirmarnumero"
            android:exported="true" />
        <activity
            android:name=".BlockPredeterminada"
            android:exported="true" />

        <activity
            android:name=".permisomensajes"
            android:exported="true" />
        <activity
            android:name=".permisocontactos"
            android:exported="true" />
        <activity
            android:name=".permisollamadas"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>